.submit-button {
  height: 37px;
  //border-radius: 999em;
  @extend %small-font;
  @extend %regular-font;
  text-align: center;
  //border: 1px solid $nav-border-color;
  margin: 10px;
  line-height: 37px;
  @extend %slow-transition;
  cursor: hand;
  background-color: black;
  color: whitesmoke;

  &:hover {
    background-color: $darkGray;
    &.hover-green{
      background-color: $lightGreen;
    }
    &.hover-red{
      background-color: indianred;
    }
    //color: white;
    //border: 1px solid grey;

  }
  &.disabled {
    background-color: $lightGray;
    cursor: not-allowed;
  }
}

.form-container-create {
  margin-bottom: 30px;
}

.form-container-log {
  margin-top: 30px;
  margin-bottom: 20px;
  padding-left: $form-gutter-log;
  padding-right: $form-gutter-log;
}


.table-container {
  margin-top: 30px;
  padding-left: $form-gutter-log;
  padding-right: $form-gutter-log;
  margin-bottom: 50px;
  overflow-x: auto;
}

.table-controls {
  @extend %light-font;
  @extend %extra-small-font;
  position: relative;
  padding: 15px;
  .control {
    position: absolute;
    bottom: 10px;
    i {
      margin-left: 6px;
      margin-right: 6px;
    }
    &.left{
      left: 5px;
    }
    &.right{
      right: 5px;
    }
    &.clickable{
      cursor: hand;
    }
  }
}

.error-message {
  text-align: center;
  @extend %extra-small-font;
  color: indianred;
  @extend %regular-font;
}
