//.form-table{
//  @extend %regular-font;
//  @extend %small-font;
//  border: $form-line;
//  background-color: white;
//
//  .form-label{
//    background-color: $form-label-background;
//    border: $form-line;
//    text-align: center;
//    @extend %semi-bold-font;
//    padding: 12px;
//    height: 45px;
//
//  }
//
//  .form-input{
//    border: $form-line;
//    padding: 12px;
//    height: 45px;
//    input, select{
//      width: 100%;
//      @extend %regular-font;
//    }
//  }
//}

.time-picker {
  position: relative;

  //bottom: 13px;
  @extend %regular-font;
  @extend %small-font;
  hr {
    display: none
  }
}

.form-table {
  table, td, th {
    width: 100%;
    @extend %regular-font;
    @extend %small-font;
    border: 1px solid #b9b7b7 !important;
    border-radius: 0;
    text-align: center !important;
    table-layout: fixed;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  .form-label {
    background-color: $form-label-background;
    @extend %semi-bold-font;
  }

  tbody {
    background-color: white;
  }

  th, td {
    padding: 12px 15px;
    width: 50%;
    min-height: 60px;
    input {
      width: 100%;
    }
  }
}