.time-picker {
  position: relative;

  //bottom: 13px;
  @extend %regular-font;
  @extend %small-font;
  hr {
    display: none
  }
}

.form {
  margin-bottom: 30px;
  .title {
    @extend %extra-large-font;
    @extend %regular-font;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;

    color: $form-title-color;
  }
  .subtitle {
    @extend %large-font;
    @extend %semi-bold-font;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .add-box {
    margin-top: 20px;
    margin-bottom: 20px;
    @extend %small-font;
    @extend %light-font;
    color: $lightGray;
    text-align: center;
    .add {
      cursor: hand;
      i {
        margin-right: 10px;
        position: relative;
        top: 1px;
      }

      @extend %slow-transition;
      &:hover {
        color: black;
      }
    }
  }
}

.form-table {
  table, td, th {
    width: 100%;
    @extend %regular-font;
    @extend %small-font;
    border: 1px solid #b9b7b7 !important;
    border-radius: 0;
    text-align: center !important;
    table-layout: fixed;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  .form-label {
    background-color: $form-label-background;
    @extend %semi-bold-font;
  }

  tbody {
    background-color: white;
  }

  th, td {
    padding: 12px 15px;
    width: 50%;
    min-height: 60px;
    input {
      width: 100%;
    }

    textarea {
      outline: none;
      border: none;
      resize: none;
    }
  }
}