$darkBlack : #2E2E2E;
$darkGrey : #353535;
$lightGray : #dedede;
$lightGreen: #4db6ac;

$navyBlue: #18121E;
$gunMetal: #233237;
$rustyRed: #984843;
$warmYellow: #EAC67A;

// color pallete
$primaryColor: $lightGray;
$secondaryColor: $darkGrey;
$accentColor: $lightGreen;
$backgroundColor: white;
$darkContrastFontColor: $darkBlack;


//backgrounds
$backgroundColor: $lightGray;
$welcomeBackgroundImage: "https://shearspace.com/cv/GB_StoryBridge_CBD_1920p.jpg";

//margins
$rowVerticalMargin: 15px;

//appBars
$appBarBackgroundColor: $darkBlack;
$appBarFontSize:1.2em;
$appBarHeight:75px;
$appBarFontColor:$lightGray;

//appSectionColors:
$appSectionColor: $lightGray;

//fonts
$titleFont: 'Work Sans', sans-serif;
$titleFontSize: 30px;
$mainTitleFontSize: 60px;


//buttons
$buttonFontColor: white;
$buttonFontSize: 20px;
