body{
  background-color: #FAFAFA;
  text-rendering: optimizeLegibility;
}

.valign-wrapper{
  justify-content: center !important;
}

//html, h1, h2, h3, h4, h5, div, span, .row{
//  margin: 0;
//  padding: 0;
//}

h1, h2, h3, h4, h5 {
  font-size: $large-font-size;
}

.small-text {
  font-size: $small-font-size;
}

.centeringContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.default-message{
  text-align: center;
  margin: 50px;
  @extend %medium-font;
  @extend %light-font;
}